.sb{
    width: 100%;
    height: 50px;
    padding: 3px;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}
.sb__gif{
    width: 50px;
    height: 100%;
    background: url(../img/chara.png) right bottom/ contain no-repeat;
}
.sb__bc{
    display: flex;
}
@keyframes neon{
    0%{text-shadow: 0 0 0 var(--accent-color);}
    25%{text-shadow: 0 0 5px var(--accent-color);}
    50%{text-shadow: 0 0 0 var(--accent-color);}
    75%{text-shadow: 0 0 5px var(--accent-color);}
    100%{text-shadow: 0 0 0 var(--accent-color);}
}
div[class^="sb__bc__item"]{
    width: 100%;
    color: white;
    background: black;
    font-size: 12px;
    opacity: .5;
    position: absolute;
    top: 50px;
}
div[class^="sb__bc__item"].active{
    color: #333;
    background: white;
    opacity: 1;
    animation: neon 3s infinite;
}
.sb__bc__item1{
    left: 0%;
}
.sb__bc__item2{
    left: 16%;
}
.sb__bc__item3{
    left: 61%;
}
.sb__bc__item4{
    left: 86%;
}
