.bgTest{
    width: 100%;
    height: 100vh;
    background: #333;
}
.bgTest__in{
    margin-left: auto;
    width: 100%;
    height: 100%;
    position: relative;
}
.bgTest__in .left,
.bgTest__in .right{
    object-fit: contain;
    position: absolute;
}
.bgTest__in .left{
    width: 300px;
    height: 100%;
    top: 0; left: 0;
}
.bgTest__in .right{
    width: 80%;
    height: 100%;
    top: 0; right: 0;
}