/* main
--------------------------------------- */
main {
  /* background: white; */
}

/* scroll top
--------------------------------------- */
@-webkit-keyframes flying {
  0% {
    -webkit-transform: rotateY(0) rotate(0) translate(0, 0);
            transform: rotateY(0) rotate(0) translate(0, 0);
  }
  10% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(0, 0);
            transform: rotateY(180deg) rotate(90deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(0, 0);
            transform: rotateY(180deg) rotate(90deg) translate(0, 0);
  }
  40% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(-30px, 10px);
            transform: rotateY(180deg) rotate(90deg) translate(-30px, 10px);
  }
  60% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(-60px, -10px);
            transform: rotateY(180deg) rotate(90deg) translate(-60px, -10px);
  }
  80% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(-100px, 10px);
            transform: rotateY(180deg) rotate(90deg) translate(-100px, 10px);
  }
  100% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(0, -10px);
            transform: rotateY(180deg) rotate(90deg) translate(0, -10px);
  }
}
@keyframes flying {
  0% {
    -webkit-transform: rotateY(0) rotate(0) translate(0, 0);
            transform: rotateY(0) rotate(0) translate(0, 0);
  }
  10% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(0, 0);
            transform: rotateY(180deg) rotate(90deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(0, 0);
            transform: rotateY(180deg) rotate(90deg) translate(0, 0);
  }
  40% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(-30px, 10px);
            transform: rotateY(180deg) rotate(90deg) translate(-30px, 10px);
  }
  60% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(-60px, -10px);
            transform: rotateY(180deg) rotate(90deg) translate(-60px, -10px);
  }
  80% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(-100px, 10px);
            transform: rotateY(180deg) rotate(90deg) translate(-100px, 10px);
  }
  100% {
    -webkit-transform: rotateY(180deg) rotate(90deg) translate(0, -10px);
            transform: rotateY(180deg) rotate(90deg) translate(0, -10px);
  }
}

.scrollBtn {
  width: 200px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.scrollBtn img {
  width: 100%;
}

.scrollBtn img:first-of-type {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.scrollBtn img:last-of-type.flying {
  -webkit-animation: 3s flying linear;
          animation: 3s flying linear;
}
